body
{
   margin:0;
   padding:0;
   height:100%;
   text-align:center;
   background:url(image.jpg);
   background-size:cover;
   background-position:center;
   font-family:'Arial',serif,sans-serif;
}
h1
{
	color:#fff;
}
form
{
   background:rgba(0,0,0,0.5);
   font-size:25px;
   font-weight:bold;
   padding:20px;
   color:#fff;
   left:10%;
   width:70%;
   position:absolute;
   border-radius:20px;
}
.text-danger
{
	color:#ff3030;
	font-size:22px;
	text-align:left;
}
.password-feedback
{
	color:#ff3030;
	font-size:20px;
	text-align:left;
}
.ChangePassword
{
   		background:#39dc79;
        font-size:22px;
		font-weight:bold;
		text-align:left;
}
label
{
	color:#fff;
	margin:0px;
	padding-left:20px;
	padding-top:10px;
	font-size:20px;
	font-weight:bold;
}
input[type="password"]
{
	margin:0;
	padding:20px;
	font-size:20px;
    font-weight:bold;
    background:transparent;
	text-align:left;
	border-radius:20px;
	width:90%;
    outline:none;
	color:#fff;
}
input[type="text"]
{
	margin:0px;
	padding:20px;
	font-size:20px;
    font-weight:bold;
    background:transparent;
	text-align:left;
	border-radius:20px;
	width:90%;
    outline:none;
	color:#fff;
	
}
h2
{
	color:#fff;
	font-size:25px;
	font-weight:bold;
}
input[type="submit"]
{
	padding:20px;
	font-size:20px;
    margin-top:10px;
	margin-left:0px;
	border:none;
	background-color:#1c8adb;
	border-radius:20px;
}
input[type="submit"]:hover
{
	cursor:pointer;
	background:#39dc79;
	color:#000;
}